.ImageSlider {
    position: relative;
    margin-top: 8.5rem;
    width: 100%;
    /* height: 100rem; */
    top: 0;
    display: flex;
    justify-content: center;
}
.ImageSliderController{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100rem;
    height: 70rem;
    margin-top: -50px;
}
.controller{
    position: absolute;
    bottom: 0;
}
.img-responsive-sl{
    max-width: 100%;
    height: 70rem;
    align-items: center;
}
.span-P{
    position: absolute;
    right: 10px;
    cursor: pointer;
    border-radius: 5rem;
}
.span-N{
    position: absolute;
    left: 10px;
    cursor: pointer;
    border-radius: 5rem;
}

#imageSlider .span-N i.fa {
	font-size: 36px;
	width: 30px;
	height: 30px;
	color: black;
    /* background-color: white; */
	border-radius: 50%;
	/* transition: all 0.3s; */
}
#imageSlider .span-P i.fa {
	font-size: 36px;
	width: 30px;
	height: 30px;
	color: black;
    background-color: white;
	border-radius: 50%;
	/* transition: all 0.3s; */
}
.img-holder{
    box-shadow: 5px 5px 5px 5px red;
}
@media (max-width: 1500px) {
    
}
@media (max-width: 1300px) {
    
}
@media (max-width: 1000px) {
    
}
@media (max-width: 500px) {
    .ImageSlider{
        margin-top: -10rem;
        width: 100%;
        height: 35rem;
        top: 0;
    }
    .span-P{
        position: absolute;
        right: 10px;
        cursor: pointer;
        border-radius: 5rem;
    }
    .span-N{
        position: absolute;
        left: 10px;
        cursor: pointer;
        border-radius: 5rem;
    }
    .ImageSliderController{
        margin: 0;
        /* height: 10rem; */
    }
    .img-responsive-sl{
        margin-top: 8.5rem;
        width: 100%;
        height: auto;
        top: 0;
    }
    .controller{
        margin: -300px;
    }
}